<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag "emails/zurb_template", media: "all" %>
    <%= stylesheet_link_tag "emails/bootstrap_tables", media: "all" %>

    <style>

      .container {
        max-width:900px!important;
      }
      .content {
        max-width:900px;
      }
    </style>

  </head>

  <body bgcolor="#FFFFFF">
    <!-- BODY -->
    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

          <div class="content">
            <table>
              <tr>
                <td>
                  <h3>Olá, <%= @user.name %>!</h3>
                  <p class="lead">Conforme solicitado, segue o que você precisa estudar no mês seguinte (<%= @month_formatted %>)</p>
                  <br/>
                  <br/>							

                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th class="text-center">Data</th>
                        <th class="text-center">Tempo</th>
                        <th class="text-center">Matéria</th>
                        <th class="text-center">Meta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @events.each do |ei| %>
                        <tr >
                        <td class="text-center"><%= l ei.start.to_date %></td>
                        <td class="text-center"><%= l(ei.event.from_time, format: :only_time) + ' - ' + l(ei.event.to_time, format: :only_time) %></td>
                        <td class="text-center"><%= ei.title %></td>
                        <td class="text-center"><%= l(ei.event.meta, format: :only_time) %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                  <br/>
                  <br/>							
                  <p class="callout">
                    Você está recebendo este e-mail pois solicitou que lhe fosse informado o que deve estudar no mês seguinte ao atual. Caso não queira mais receber este e-mail, desabilite este tipo de notificação no PasseMe, no menu de Configurações.
                  </p>

                </td>
              </tr>
            </table>
          </div>

        </td>
        <td></td>
      </tr>
    </table><!-- /BODY -->


  </body>
</html>




