<div class="span6 no-timetable">
  <div class="details">
    <h4>
      <p><%= t('.no_active_timetable') %></p>
      <p><%= t('.create_click_below') %></p>
    </h4>
    <p class="text-center">
    <%= link_to new_timetable_path, class: "btn light-grey big" do %>
      <%= t('.buttons.create_timetable') %>
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>

<div class="span6 no-timetable">
  <div class="details">
    <h4>
      <p><%= t('.tour') %></p>
    </h4>
    <p class="text-center">
    <%= link_to '#', class: "btn yellow big" do %>
      <%= t('.buttons.make_tour') %>
      <i class="m-icon-big-swapright m-icon-white"></i>
    <% end %>
    </p>
  </div>
</div>
