<% provide(:title, t(".title")) %>
<% have_tt = @active_timetable.present? %>

<% if @show_dashboard_tour  %>
  <div id="dashboard-settings" data-show-tour="<%= @show_dashboard_tour %>" data-toggle-tour-url="<%= toggle_make_tour_on_login_setting_path(current_user.setting) %>">
  </div>
<% end %>

<div id="dashboard">
  <% if have_tt %>
    <div class="row-fluid">
      <%= render(partial: 'calendars/calendar_portlet', locals: { calendar: @active_timetable.calendar }) %>
    </div>
  <% else %>
    <div class="row-fluid">
      <%= render partial: 'no_timetable' %>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <%= render partial: 'tasks/index' %>
    </div>
    <div class="span6">
      <%= render 'stats' %>

    </div>
  </div>

</div>
