<div class="row-fluid">
  <div class="span12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
      <%= yield(:title) %>
    </h3>
    <%= if(content_for?(:breadcrumb))
          yield(:breadcrumb)
        else
          render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder
        end
    %>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>

</div>


<%= render 'shared/flash_messages' %>

<%# <%= content_tag :div, class: "row-fluid" do %>
<%#   <div class="span12">
<%#   <% flash.each do |key, value| %>
<%#     <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<%# <% end %>
<%# </div>
<%# <% end unless flash.empty? %>
