<div class="header navbar navbar-inverse navbar-fixed-top">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <%= image_tag "menu-toggler.png" %>

      </a>
      <!-- END RESPONSIVE MENU TOGGLER -->            
      <!-- BEGIN TOP NAVIGATION MENU -->              
      <ul class="nav pull-right">


        <!-- BEGIN NOTIFICATION DROPDOWN -->   
        <li class="dropdown" id="header_notification_bar">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="icon-warning-sign"></i>
          <span class="badge"><%= current_user.unread_notifications.count %></span>
        </a>
        <ul class="dropdown-menu extended notification">
          <li>
          <p>You have <%= current_user.unread_notifications.count %> new notifications</p>
          </li>
          <li>
          <ul class="dropdown-menu-list scroller" style="height:250px">
            <%= render partial: "authenticated/notification", collection: current_user.unread_notifications %>
          </ul>
          </li>
          <li class="external">
            <%= link_to(notifications_path) do %>
              See all notifications <i class="m-icon-swapright"></i>
            <% end %>
          </li>
        </ul>
        </li>
        <!-- END NOTIFICATION DROPDOWN -->

        <!-- BEGIN TODO DROPDOWN -->
        <li class="dropdown" id="header_task_bar">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="icon-tasks"></i>
          <span class="badge"><%= current_user.pending_tasks.count %></span>
        </a>
        <ul class="dropdown-menu extended tasks">
          <li>
          <p>You have <%= current_user.pending_tasks.count %> pending tasks</p>
          </li>
          <li>
          <ul class="dropdown-menu-list scroller" style="height:250px">
            <%= render partial: "authenticated/task", collection: current_user.pending_tasks %>
          </ul>
          </li>
          <li class="external">
            <%= link_to(root_path) do %>
              See all tasks <i class="m-icon-swapright"></i>
            <% end %>
          </li>
        </ul>
        </li>
        <!-- END TODO DROPDOWN -->               


        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <%= image_tag "avatar1_small.jpg" %>
          <span class="username">Bob Nilson</span>
          <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
          <li>
            <%= link_to timetables_path do %>
            <i class="icon-calendar"></i> My Timetables
            <% end %>
          </li>
          <li>
            <%= link_to follow_up_path do %>
            <i class="icon-check"></i> Follow Up
            <% end %>
          </li>
          <li>
            <%= link_to settings_path do %>
              <i class="icon-cogs"></i> My Settings
            <% end %>
          </li>
          <li class="divider"></li>
          <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
          <li>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <i class="icon-key"></i> Log Out
            <% end %>
          </li>
        </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
      <!-- END TOP NAVIGATION MENU --> 
    </div>
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
