<h3 class="form-section">Provide some information about the timetable</h3>

<%= f.input :name %>
<%= f.input :public, label: false, inline_label: "Is this timetable visible to other users?" %>
<%= f.input :goal, input_html: { class: 'm-wrap span6' } %>
<%= f.input :specific, label: false, inline_label: "This timetable is specific for a contest?" %>
<% if @active_timetable.present? %>
  <%= f.input :active, label: false, inline_label: "Make this my active timetable." %>
<% end %>

