<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle <%= "collapsed active-timetable" if timetable.active? %> " data-toggle="collapse" data-parent="#accordion-timetables" href="#timetable-<%= timetable.id %>">
      <i class="icon-angle-left"></i>
      <%= timetable.name %>
    </a>
  </div>
  <div id="timetable-<%= timetable.id %>" class="accordion-body collapse <%= 'in' if timetable.active? %>">
    <div class="accordion-inner">
      <p><%= link_to calendar_event_sources_path(timetable.calendar) do %>
        Event Sources
      <% end %></p>

      <% unless timetable.active? %>
        <p><%= link_to timetable_make_active_path(timetable), class: "activate-timetable", remote: true, method: :put do %>
          Make this my active timetable!
        <% end %></p>
      <% end %>
    </div>
  </div>
</div>
