<p class="created-message">
  Não se esqueça de preencher o primeiro formulário de avaliação, caso ainda não o tenha feito:
  <a class="btn green" target="_blank" href="https://docs.google.com/forms/d/11CZZugqzOc3CYY_cATA2_MuBQJN62J6n1PIh41iOYbo/viewform" >
    <i class="m-icon-swapright m-icon-white"></i>
    Preencher!
  </a>
</p>

<div class="btn-group pull-left timetables-group">
  <a class="btn purple dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
    <i class="icon-calendar"></i> <%= t('.title') %>
  <i class="icon-angle-down"></i>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
      <%= link_to new_timetable_path do %>
        <i class="icon-plus"></i> <%= t('buttons.add') %>
      <% end %>
    </li>
    <li class="divider"></li>
    <%= render(@timetables.active_first) %>
  </ul>
</div>

<div class="portlet box blue calendar">
  <div class="portlet-title">
    <div class="caption"><i class="icon-reorder"></i><%= @active_timetable.name %></div>
    <div class="actions">
    </div>
  </div>
  <div class="portlet-body">
    <div class="row-fluid">
      <div class="span12">
        <%= render partial: 'calendars/calendar_portlet', locals: { calendar: @active_timetable.calendar } %>
      </div>
    </div>
    <!-- END CALENDAR PORTLET-->
  </div>
</div>
