<h3>Resend unlock instructions</h3>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name),
             :html => { :method => :post, id: "unlock-form", class: "form-vertical" },
              defaults: { input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off" }, label_html: { class: "visible-ie8 visible-ie9" } }) do |f| %>

<%= render 'shared/flash_messages' %>
<%= f.input :email, wrapper: :with_icon, autofocus: true, label: "E-Mail", placeholder: "E-Mail", icon: "icon-envelope" %>

<div class="form-actions">
  <%= back_button %>
  <%= submit_button t("buttons.resend") %>
</div>
<%= render "devise/shared/links" %>

<% end %>

