<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), defaults: { input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off" }, label_html: { class: "visible-ie8 visible-ie9" } },
                    html: { method: :put, class: "form-vertical register-form", novalidate: "novalidate" }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <h3><%= t('.reset_password') %></h3>
  <%= f.input :password, wrapper: :with_icon, placeholder: "Password", icon: "icon-lock", required: true, autofocus: true %>
  <%= f.input :password_confirmation, wrapper: :with_icon, icon: "icon-ok", required: true %>
  <div class="form-actions">
    <%= submit_button t("buttons.submit") %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
