<!-- BEGIN FORGOT PASSWORD FORM -->
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
             html: { method: :post, class: "form-vertical forget-form" },
             defaults: { input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off" }, label_html: { class: "visible-ie8 visible-ie9" } }) do |f| %>
<h3 ><%= t('.title') %></h3>
<%= render 'shared/flash_messages' %>
<p><%= t('.enter_email_to_reset') %></p>

<%= f.input :email, wrapper: :with_icon, autofocus: true, label: "E-Mail", placeholder: "E-Mail", icon: "icon-envelope" %>

<div class="form-actions">
  <%= back_button %>
  <%= submit_button t("buttons.submit") %>
</div>
<% end %>
<!-- END FORGOT PASSWORD FORM -->

<%= render "devise/shared/links" %>
