<div class="row-fluid">

  <div class="span2">
    <%= f.input :repeats, collection: CalendarEvent::RepeatsOptions, as: :radio_buttons, item_wrapper_class: "line" %>
  </div>

  <div class="span10">
    <%= render partial: 'calendar_events/schedule/repeats_daily_options', locals: {f: f} %>
    <%= render partial: 'calendar_events/schedule/repeats_weekly_options', locals: {f: f} %>
    <%= render partial: 'calendar_events/schedule/repeats_monthly_options', locals: {f: f} %>
    <%= render partial: 'calendar_events/schedule/repeats_yearly_options', locals: {f: f} %>
    <%= render partial: 'calendar_events/schedule/repeats_ends', locals: {f: f} %>
  </div>

</div>

