<%= simple_form_for @setting do |f| %>
<div class="tabbable tabbable-custom tabs-left">
  <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs tabs-left">
    <li class="active"><a href="#general" data-toggle="tab"><%= t('.tabs.general.label') %></a></li>
    <li ><a href="#notifications" data-toggle="tab"><%= t('.tabs.notifications.label') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="general">
      <p><%= t('.tabs.general.text') %></p>
    </div>
    <div class="tab-pane" id="notifications">
      <p><%= t('.tabs.notifications.text') %></p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th><%= t('.tabs.notifications.site') %></th>
            <th><%= t('.tabs.notifications.email') %></th>
            <th><%= t('.tabs.notifications.phone') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "settings/notification_setting", locals: { f: f } %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-actions">
    <%= back_button %>
    <%= submit_button t("buttons.submit") %>
  </div>
</div>
<% end %>

