<div class="row-fluid">

  <div class="span12">
    <div class="portlet box light-grey calendar">
      <div class="portlet-title">
        <div class="caption"><i class="icon-calendar"></i>Calendar</div>
        <div class="actions">
          <%= link_to new_calendar_calendar_event_path(calendar), class: "btn green mini new-event" do %>
            Add Event <i class="icon-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="portlet-body light-grey">
        <div class="row-fluid">
          <div class="calendar-init" class="has-toolbar" 
            data-url-events="<%= calendar_event_instances_path(calendar) %>"
            data-url-day-click="<%= calendar_day_click_path(calendar) %>"
            data-url-select="<%= calendar_select_path(calendar) %>"
            data-url-event-click="<%= calendar_event_click_path(calendar) %>">

            <div class="btn-group" id="calendar-options">
              <button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn yellow dropdown-toggle">Options <i class="icon-angle-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                <%= link_to new_calendar_calendar_event_path(calendar), class: "new-event" do %>
                  Add Event <i class="icon-plus"></i>
                <% end %>
                <%= link_to calendar_event_sources_path(calendar) do %>
                  Subjects
                <% end %>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- END CALENDAR PORTLET-->
      </div>
    </div>
  </div>

</div>

<div id="calendar-event-modal" class="modal container hide fade" tabindex="-1">
</div>
