<% provide(:title, "Subjects") %>

<div class="table-toolbar clearfix">
  <div class="btn-group pull-left">
    <%= button_to new_subject_path, class: "btn green", id: "new-subject" do %>
      <%= t('buttons.add') %> <i class="icon-plus"></i>
    <% end %>
  </div>
  <div class="btn-group pull-right">
    <%= link_to subject_groups_path, class: "btn blue" do %>
      <%= t('.buttons.subject_groups') %> <i class="icon-plus"></i>
    <% end %>
  </div>
</div>
<table class="table table-striped table-bordered table-hover" id="table-subjects">
  <thead>
    <tr>
      <th><%= t('.table_label.name') %></th>
      <th class="text-center"><%= t('.table_label.importance') %></th>
      <th class="text-center"><%= t('.table_label.difficulty') %></th>
      <th class="text-center"><%= t('.table_label.study_sources') %></th>
      <th class="text-center"><%= t('.table_label.edit') %></th>
      <th class="text-center"><%= t('.table_label.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |s| %>
      <tr class="odd gradeX">
        <td><%= s.name %></td>
        <td class="text-center"><%= s.importance_value %></td>
        <td class="text-center"><%= s.difficulty_value %></td>
        <td class="text-center">
          <%= button_to subject_study_sources_path(s), class: "btn mini green-stripe view-study-sources" do %>
            <%= t('.buttons.view_study_sources', count: s.study_sources.length) %>
          <% end %>
        </td>
        <td class="text-center">
          <%= button_to edit_subject_path(s), class: 'btn blue edit' do %>
            <i class="icon-pencil"></i>
          <% end %>
        <td class="text-center">
          <%= button_to subject_path(s), class: 'btn red delete' do %>
            <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div id="subject-modal" class="modal hide fade" tabindex="-1">
</div>

<div id="study-sources-modal" class="modal hide fade" tabindex="-1">
</div>

