
<table class="table table-striped table-bordered" id="table-events-studied-with-debt">
  <thead>
    <tr>
      <th class="text-center"><%= t('.table_label.date') %></th>
      <th class="text-center"><%= t('.table_label.subject') %></th>
      <th class="text-center"><%= t('.table_label.meta') %></th>
      <th class="text-center"><%= t('.table_label.studied_time') %></th>
      <th class="text-center"><%= t('.table_label.debt_reason') %></th>
    </tr>
  </thead>
  <tbody>
  <% @items_studied_debt.each do |e| %>
    <tr class="<%= follow_up_item_class(e) %>">
      <td class="text-center"><%= l e.date %></td>
      <td class="text-center"><%= e.calendar_event.subject.name %></td>
      <td class="text-center"><%= e.calendar_event.meta %></td>
      <td class="text-center"><%= l(e.studied_time, format: :only_time) %></td>
      <td class="text-center"><%= e.debt_reason %></td>
    </tr>
  <% end %>
  </tbody>
</table>
