<fieldset id="repeats_weekly_options" class="event_option form-horizontal hide">
	<%= f.input :repeats_every_n_weeks %>
	<div class="control-group">
		<label class="control-label">Each</label>
		<div class="controls">
			<% CalendarEvent::DaysOfTheWeek.each do |day_of_the_week| %>
				<%= label_tag "calendar_event_repeats_weekly_each_days_of_the_week_#{day_of_the_week}", day_of_the_week.humanize, :class => 'checkbox inline' do %>
					<%= check_box_tag "calendar_event[repeats_weekly_each_days_of_the_week][#{day_of_the_week}]", day_of_the_week, f.object.repeats_weekly_each_days_of_the_week.include?(day_of_the_week), {:name => "calendar_event[repeats_weekly_each_days_of_the_week][]"} %>
					<%= day_of_the_week.humanize %>
				<% end %>
			<% end %>
			<%= hidden_field_tag "calendar_event[repeats_weekly_each_days_of_the_week][]", "" %>
		</div>
	</div>
</fieldset>
