<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
  <title><%= full_title(yield(:title)) %></title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
  <%= csrf_meta_tags %>
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
  <%= yield :stylesheets %>
	<!-- END GLOBAL MANDATORY STYLES -->
  <%= yield :javascripts %>
  <script type="text/javascript">
    window.I18n = <%= current_translations.to_json.html_safe %>
  </script>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<%= content_for?(:content) ? yield(:content) : yield %>

</html>
