<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "authenticated_and_devise", media: "all", "data-turbolinks-track" => true %>
  <!-- Specific CSS of each controller -->
  <%= stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true%>
<% end %>

<% content_for :javascripts do %>
  <!-- BEGIN CORE PLUGINS -->
  <%= javascript_include_tag "authenticated_and_devise", "data-turbolinks-track" => true %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag "authenticated_and_devise-ie", "data-turbolinks-track" => true %>
  <![endif]-->   

  <%= javascript_include_tag params[:controller], media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>
  <body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
  <p>Se desejar acessar com o usuário de demonstração, use as seguintes credenciais:</p>
  <p>E-Mail: <b>demo@passeme.com</b></p>
  <p>Senha: <b>demopasseme</b></p>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
  <%= yield %>
</div>
<!-- END LOGIN -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
  2013 &copy; PasseMe
</div>



</body>
<% end %>
<%= render template: "layouts/application" %>
